button{
  padding: 1rem;
  width: 10rem;

}
mat-toolbar{
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-text);
  gap: 1rem;
  padding: 2rem;
  height: 12vh;
  font-family: font1, sans-serif;

}
mat-toolbar button {
  background-color: var(--color-card);
  color: var(--color-text);
  font-family: font1, sans-serif;
}



a {
  padding: 1rem;
}

