
.jm-navbar {

  background: transparent !important;
  color: #f1f1f1;
  font-family: font1, sans-serif;
  height: 80px;
  padding: 0 40px;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 60px;
  /*object-fit: contain;*/
  transition: transform 0.5s ease-in-out;
}

.nav-logo:hover{
  transform: scale(1.1);
}

.nav-est {
  color: #dfcdb4;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-left: 20px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.nav-link {
  color: #aaaaaa !important;
  /*font-family: font1, sans-serif;*/
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.nav-links{
  display: flex;
  gap: 1rem;
}


.nav-link:hover,
.nav-link.active-link {
  color: #dfcdb4 !important;
}



mat-card{
  width: 90%;
}
